@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text: #FDFAF2;
    --color-titles: #FDBB08;
    --background: #121111;
    --color-links: #FF3D3D;
}

body {
    background-color: #121111;
}

.items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

a {
    color: var(--color-links);
}


h1 {
    color: var(--color-titles);
    text-align: center;
    font-family: "Montserrat ExtraBold 800";
}

.principal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: var(--color-titles);
    text-align: center;
    font-family: "Montserrat ExtraBold 800";
    position: absolute;
    flex-direction: row;
}

.principal p {
    position: absolute;
}

h3 {
    color: var(--color-titles);
    text-align: center;
    margin: 10px;
}

h4 {
    color: var(--color-titles);
    text-align: center;
}

p {
    color: var(--color-text);
    text-align: center;
    margin: 10px;
}

img {
    width: 100%;
    height: auto;
}

