@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

:root {
    --primary-color: #162d03;
    --text-color: rgb(8, 70, 41);
    --background: aquamarine;
}

body {
    font-family: "Merriweather";
}

header {
    display: block;
    
}

nav {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    background-color: var(--background); 
}

a {
    text-align: center;
    margin: 10px;
    font-size: 1.7em;
}

#hambutton {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}


#hambutton::before {
	content: "☰";
}

nav a:hover {
	text-decoration: underline;
    color: var(--primary-color);
} 

h1 {
    color: black;
    color: var(--text-color);
    font-size: 2.3em;
    margin: 10px;
}

/**/

main {    
    margin: 0 auto;    
}
.res-grid {
   display: flex;
   flex-wrap: wrap;   
   flex-direction: row;   
   justify-content: space-evenly;
}
section {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tertiary-color);
    margin-bottom: 20px;
    padding: 10px 25px;
}


section img {
    object-fit: cover;
}

section h3, section a, section p {
    text-align: center;
    padding: 5px;
}

.label {
    font-weight: bold;
}

@media only screen and (min-width:650px){
    .galery {
        grid-template-columns: 1fr 1fr;
    }
}

footer {
    height: auto;
    color: var(--text-color);
    text-align: center;
    background-color: var(--background);
    font-size: 1.4em;
    margin-top: 20px;

}

