* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #162d03;
    --text-color: rgb(8, 70, 41);
    --background: aquamarine;
}

h1 {
    background-color: var(--background);
    color: var(--text-color);
    text-align: center;
    font-size: 3em;
    
    height: auto;
}

.formulario {
    margin: 20px;
    background-color: var(--background);
    color: var(--text-color);
    width: auto;
    height: auto;
}

fieldset {
    background-color: rgba(222, 222, 231, 0.51);
}

legend {
    margin-bottom: -5px;
}

input {
    width: 10px;
}






















footer {
    height: auto;
    color: var(--text-color);
    text-align: center;
    background-color: var(--background);
    font-size: 1.4em;
    margin-top: 20px;

}
