* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(8, 70, 41);
    --background: rgb(224, 236, 232);
}

h1 {
    background-color: var(--background);
    color: var(--text-color);
    text-align: center;
    font-size: 3em;
    height: auto;
}

.formulario {
    margin-right: 50px;
    margin-left: 50px;
    background-color: var(--background);
    color: var(--text-color);
    width: auto;
    height: auto;
}

fieldset {
    background-color: var(--background);
}

legend {
    margin-bottom: -3px;
    font-size: 1.1em;
}

select {
    width: 200px;
    height: 30px;
    background-color: #e5e5e9;
}

option {
    color: black;
    font-size: 1.2em;
    
}

input[type=radio] {width: auto;height: 15px;} 

input[type=date] {background-color: #e5e5e9;
    width: 200px;
    height: 30px;
    font-size: 1.2em;
    text-align: center;
} 


input[type=radio] {background-color: #efac3e;} 
input[type=text] {background-color: #efac3e;} 
input[type=text] {background-color: #efac3e;} 





















footer {
    height: auto;
    color: var(--text-color);
    text-align: center;
    background-color: var(--background);
    font-size: 1.4em;
    margin-top: 20px;

}
