* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(137, 45, 142);
  --text-color: white;
}

body {
  background-color: var(--primary-color);
}

h1 {
  color: var(--text-color);
  font-size: 3em;
  padding: 5px;
  text-align: center;
}

main {
  padding-top: 15px;
  background-color: rgb(195, 4, 4);
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 1.6em;
  padding: 10px;
  text-align: center;
  background-color: rgba(31, 98, 48, 0.422);
  
}

p {
  font-size: 1.3em;
  padding: 20px;
  text-align: start;
}

footer {
  background-color: var(--primary-color);
  height: 75px;
}

footer p {
  color: var(--text-color);
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

/*-------------------------------------*/
.info {
  background-color: whitesmoke;
  border: 1px solid rgb(195, 4, 4);
  border-top: none;
}

.weather {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: 1px solid rgb(195, 4, 4);
}

.weather img {
  width: 100px;
  align-self: center;
}