* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(137, 45, 142);
  --text-color: white;
}

header {
  background-color: rgb(137, 45, 142);
}

h1 {
  color: var(--text-color);
  font-size: 3em;
  padding: 5px;
  text-align: center;
}

main {
  background-color: rgb(8, 101, 101);
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  text-align: center;
}

p {
  font-size: 1.2em;  padding: 20px;
  text-align: start
}

footer {
  background-color: var(--primary-color);
  height: 75px;
}

footer p {
  color: var(--text-color);
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

/*-------------------------------------*/
.info {
  background-color: whitesmoke;
  border: 3px solid var(--primary-color);
}

.weather {
  background-color: whitesmoke;
  border: 3px solid var(--primary-color);
}

.weather img {
  width: 100px;
  position: absolute;
  right: 20px;
}