@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    font-family: Merriweather;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
    background-color: rgb(75, 13, 155);
    align-items: center;
    padding: 20px;
}

.barrita {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

ul {
    display: flex;  
}

li {
    list-style: none;
    padding: 10px;
    padding-right: 120px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Merriweather;

 }
nav a:hover {
	text-decoration: underline;
}

h1 {
    color: white;
    font-size: 2.3em;
}

main {
    margin: 10px;

}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2.3em;
    font-family: Merriweather;
    padding-bottom: 20px;
}

.temples {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

img {
    width: 400px;
}

figcaption {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 0.8em;
        font-family: Merriweather;
        padding-bottom: 20px;

}


footer {
    background-color: blue;
    height: 100px;
    text-align: center;
}